{% extends 'base.html' %}

{% block title %}Home - Café{% endblock %}

{% block content %}
{% load static tailwind_tags %}
{% tailwind_css %}
<html lang="en">


<body class="bg-yellow-50 min-h-screen flex flex-col items-center justify-center font-serif mx-auto">

  <div class="text-center mx-auto p-6 bg-white rounded-xl shadow-md max-w-lg">
    <h1 class="text-4xl font-bold text-blue-600 mb-4">About Us</h1>
    <p class="text-lg text-gray-700">WBLAH BLAH BLAH</p>
    <p class="text-sm text-gray-500 mt-2">Tailwind is working perfectly 🎉</p>
  </div>

</body>
</html>
{% endblock %}